{% extends 'base.html.twig' %}

{% block title %}Modifier {{ product.name }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Modifier le produit : {{ product.name }}</h2>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        <div class="row align-items-center mb-3">

        <div class="col-auto">
            {% if product.imageFilename %}
                <img src="{{ asset('uploads/images/' ~ product.imageFilename) }}" alt="{{ product.name }}" class="img-thumbnail" style="max-width: 150px; height: auto;">
            {% endif %}
            {{ form_row(form.imageFile) }}
        </div>

        <div class="row p-3">
            <div class="col">
                {{ form_row(form.name) }}
            </div>

            <div class="col">
                {{ form_row(form.price) }}
            </div>

            <div class="col">
                {{ form_row(form.isFeatured) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.stockXS) }}
            </div>

            <div class="col">
                {{ form_row(form.stockS) }}
            </div>

            <div class="col">
                {{ form_row(form.stockM) }}
            </div>

            <div class="col">
                {{ form_row(form.stockL) }}
            </div>

            <div class="col">
                {{ form_row(form.stockXL) }}
            </div>
        </div>

    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">Annuler</a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}